<a href="https://colab.research.google.com/github/Farsana-svg/learn.py/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [1]:
#please provide your answer below this line.
import numpy as np
import pandas as pd
datetie = pd.date_range('2021-09-15',periods=6)
df = pd.DataFrame(np.random.randn(6,6), index=datetie, columns=list('ABCDEF'))
df1 = df.iloc[0:3]
print("First 3 rows")
print(df1)
 
df2 = df.iloc[0::2]
print("Odd indexed rows")
print(df2)
 
df3 = df.iloc[1:4,0:0]
print("Dates from 1st position to 4th position")
print(df3)

First 3 rows
                   A         B         C         D         E         F
2021-09-15 -0.589216 -1.051402 -1.374272  0.113489 -0.861308 -0.633754
2021-09-16 -2.064456  0.819630 -1.877448 -0.823848 -0.568067 -0.921474
2021-09-17 -2.032760 -0.747577  3.155698 -0.387831  0.256917 -0.832043
Odd indexed rows
                   A         B         C         D         E         F
2021-09-15 -0.589216 -1.051402 -1.374272  0.113489 -0.861308 -0.633754
2021-09-17 -2.032760 -0.747577  3.155698 -0.387831  0.256917 -0.832043
2021-09-19 -0.601583  0.241483  0.789118  0.466118  1.231564  0.553832
Dates from 1st position to 4th position
Empty DataFrame
Columns: []
Index: [2021-09-16 00:00:00, 2021-09-17 00:00:00, 2021-09-18 00:00:00]

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [4]:
#please provide your answer below thins line.
df1 = df.loc[['2021-09-15','2021-09-16','2021-09-17'],['A','B']]
print(df1)
 
df2 = df.loc['2021-09-17']
print("Datas at the 3rd index")
print(df2)
 
df3 = df.loc[['2021-09-16','2021-09-17','2021-09-18','2021-09-19']]
print("Datas from index 2nd to 5th")
print(df3)
 
df4 = df.loc[['2021-09-15','2021-09-17','2021-09-18'],['A','C']]
print("Datas from the index 1,2,4 and the column 0 and 2")
print(df4)

                   A         B
2021-09-15 -0.589216 -1.051402
2021-09-16 -2.064456  0.819630
2021-09-17 -2.032760 -0.747577
Datas at the 3rd index
A   -2.032760
B   -0.747577
C    3.155698
D   -0.387831
E    0.256917
F   -0.832043
Name: 2021-09-17 00:00:00, dtype: float64
Datas from index 2nd to 5th
                   A         B         C         D         E         F
2021-09-16 -2.064456  0.819630 -1.877448 -0.823848 -0.568067 -0.921474
2021-09-17 -2.032760 -0.747577  3.155698 -0.387831  0.256917 -0.832043
2021-09-18  0.063782  0.216442  0.258343  0.773793 -0.637539  0.931998
2021-09-19 -0.601583  0.241483  0.789118  0.466118  1.231564  0.553832
Datas from the index 1,2,4 and the column 0 and 2
                   A         C
2021-09-15 -0.589216 -1.374272
2021-09-17 -2.032760  3.155698
2021-09-18  0.063782  0.258343