<a href="https://colab.research.google.com/github/Farsana-svg/learn.py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [11]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
 
df2 = pd.isna(df1)
print(df2)
 
df3 = df1.dropna(how="any")
print(df3)

                   A         B         C         D   F    E
2021-01-01  1.781894 -0.596514 -0.827825  0.512041 NaN  1.0
2021-01-02  0.255997  1.153423  0.706538 -1.654741 NaN  1.0
2021-01-03 -0.215343  0.498045 -0.258498 -0.461197 NaN  NaN
2021-01-04  0.140525 -0.186440 -0.204970  0.217916 NaN  NaN
                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [10]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
 
df2 = df1.fillna(value=20)
print(df2)

                   A         B         C         D   F    E
2021-01-01 -2.233935 -1.601846 -0.049513 -0.010449 NaN  1.0
2021-01-02 -0.243462 -0.471168 -0.281377 -0.055064 NaN  1.0
2021-01-03 -0.497361  0.744177 -0.799151  0.087041 NaN  NaN
2021-01-04  1.007654 -0.330154 -0.100748  0.044761 NaN  NaN
                   A         B         C         D     F     E
2021-01-01 -2.233935 -1.601846 -0.049513 -0.010449  20.0   1.0
2021-01-02 -0.243462 -0.471168 -0.281377 -0.055064  20.0   1.0
2021-01-03 -0.497361  0.744177 -0.799151  0.087041  20.0  20.0
2021-01-04  1.007654 -0.330154 -0.100748  0.044761  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [16]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
pieces = [df[0:2],df[3:7]]
 
df1 = df[0:2]
df2 = df[3:7]
print(df1)
print(df2)
 
 
df3 = pd.concat([df1,df2])
print(df3)
 
df4 = pd.concat([df1,df2], axis=1)
print(df4)
 
df5 = pd.concat(pieces,keys=["a", "b"])
print(df5)

          0         1         2         3
0 -0.288750 -0.542120 -0.697471  1.027423
1 -2.325457  0.667061 -0.068590  0.964530
2  0.279191 -0.373347 -1.635510  2.280961
3  0.953417  0.648467  0.775178  0.455727
4  0.205581 -0.054060  1.217262 -0.311431
5  0.714058 -0.413500  0.002383  0.659865
6 -1.503377  0.291048 -0.955078 -0.642511
7 -1.007957 -1.225021  0.024684  0.375714
8 -0.408205  0.907064  2.315537  0.341476
9 -0.088152 -0.205315  0.684095 -1.199482
          0         1         2         3
0 -0.288750 -0.542120 -0.697471  1.027423
1 -2.325457  0.667061 -0.068590  0.964530
          0         1         2         3
3  0.953417  0.648467  0.775178  0.455727
4  0.205581 -0.054060  1.217262 -0.311431
5  0.714058 -0.413500  0.002383  0.659865
6 -1.503377  0.291048 -0.955078 -0.642511
          0         1         2         3
0 -0.288750 -0.542120 -0.697471  1.027423
1 -2.325457  0.667061 -0.068590  0.964530
3  0.953417  0.648467  0.775178  0.455727
4  0.205581 -0.054060  1.217262 -0.311431
5  0.714058 -0.413500  0.002383  0.659865
6 -1.503377  0.291048 -0.955078 -0.642511
          0         1         2  ...         1         2         3
0 -0.288750 -0.542120 -0.697471  ...       NaN       NaN       NaN
1 -2.325457  0.667061 -0.068590  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.648467  0.775178  0.455727
4       NaN       NaN       NaN  ... -0.054060  1.217262 -0.311431
5       NaN       NaN       NaN  ... -0.413500  0.002383  0.659865
6       NaN       NaN       NaN  ...  0.291048 -0.955078 -0.642511

[6 rows x 8 columns]
            0         1         2         3
a 0 -0.288750 -0.542120 -0.697471  1.027423
  1 -2.325457  0.667061 -0.068590  0.964530
b 3  0.953417  0.648467  0.775178  0.455727
  4  0.205581 -0.054060  1.217262 -0.311431
  5  0.714058 -0.413500  0.002383  0.659865
  6 -1.503377  0.291048 -0.955078 -0.642511